.game-container {
  position: relative;
  width: 352px;
  height: 198px;
  margin: 0px auto 0 auto; 
  outline: 1px solid #ffffff;
          transform: scale(3) translateY(50%)

}

*{ box-sizing: border-box } 
body { background: rgb(5, 126, 182); 
    padding: 0%;
     margin: 0;
      overflow: 0 ; } 

.game-container canvas {

image-rendering: pixelated;
}