:root {
  --border-color: #e7e1fc;
  --dialog-background: #ec0101;

  --menu-background: #ffffff;
  --menu-border-color: #ffffff;
  --menu-font-color: #000000;
  --menu-selected-background: #ffffff;
}

* {
  box-sizing:border-box;
}

body {
  background: #ffe367;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.game-container {
  position: relative; 
  width: 352px;
  height: 198px;
  margin: 0 auto;
  outline: 1px solid #ffffff;

  transform: scale(3) translateY(50%);
}

.game-container canvas {
  image-rendering: pixelated;
}